 
  html,
  body {
    height: 100%;
    width: 100%;
  }
  
  body {
    background-image: url('./assets/inicio.jpg');
    position: absolute;
    background-size: contain;
    background-size: 100rem;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
  }
  
  .container-fluid {
    align-items: center;
    display:flex;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
  }

  .box {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 50%;
    max-height: 50%;
    padding: 20px 40px;
  }

  .boton {
    cursor: pointer;
    border: 1px solid #75088e;
    background-color: transparent;
    min-height: 10vh;
    min-width: 30vh;
    height: 40%;
    width: 32%;
    color: #75088e;
    font-size: 2.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    font-family: "Consolas", monospace;
}



.boton:hover{
    background-color: #75088e; 
    color: white;
}